[submodule "03_Implementacao/Swimu-Sensor"]
	path = 03_Implementacao/Swimu-Sensor
	url = https://github.com/misollae/Swimu-Sensor.git
[submodule "03_Implementacao/SwimuMobile"]
	path = 03_Implementacao/SwimuMobile
	url = https://github.com/misollae/SwimuMobile.git
[submodule "03_Implementacao/SwimuWeb"]
	path = 03_Implementacao/SwimuWeb
	url = https://github.com/misollae/SwimuWeb.git
